extends layout

block content
  h1=title
  if gallery_list.length
    each gallery in gallery_list
      ul
        li #{gallery.name}: #{gallery.description} (#{gallery.updated}) [User: #{gallery.user.username}]
  else
    p There are no galleries.