extends layout

block content
  h1=title

  form(method='POST')
    div.form-group
      label(for='i_name') Image Name:
      input#i_name.form-control(type='text', placeholder='min. 2 litery' name='i_name' required value=(image ? image.name : ''))
      
      label(for='i_description') Description:
      input#i_description.form-control(type='text', placeholder='min. 2 litery' name='i_description' required value=(image ? image.description : ''))

      label(for='i_gallery') Select gallery:
      select#i_gallery.form-control(name='i_gallery' required)
        option(value="") --Select a gallery--
        for gallery in galleries
          if image && image.gallery && image.gallery._id.toString() === gallery._id.toString()
            option(value=gallery._id selected) #{gallery.name}
          else
            option(value=gallery._id) #{gallery.name}

    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
